<html>
    <head>
        <title>
            <%= title  %>
        </title>
        
        <link rel="stylesheet" href="/css/layout.css">
        <!-- <link rel="stylesheet" href="/css/user_profile.css"> -->
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <!-- Whenever called as link or script tag in my body it will automatic put here (head) -->
        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>
        <main id="layout-main">
            <!-- body contains variable part -->
            <%- body %> 
        </main>


        <%- include('_footer'); %>

        <%- script %>
        
    </body>
</html>